body{
    background-color: w;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.focus-mission h1{
    font-family: 'Lobster', cursive;
    font-size: 60px;
    
}
span{
    color: rgb(27, 132, 202);
}

#border{
    border-left: 5px solid rgb(174, 220, 221);
}

.button{
    text-decoration: none;
    background-image: linear-gradient(rgb(204, 122, 74),rgb(207, 18, 18));
    color: whitesmoke;
    padding: 8px 20px;
    border-radius: 7px;
}

.mission-22{
    display: flex;
    padding-left: 5%;
}
.focus-mission{
    width: 60%;
    padding-left: 7%;
}
.focus-mission img{
    width: 70%;
}
#text{
    margin-top: 40px;
}

.My-2022{
    text-align:center;
    padding-top: 8%;
    font-family: 'Lobster', cursive;
    font-family: 'Merriweather', serif;
}
.my-mission{
    display: flex;
}
.icon {
    width:30%;
    padding: 30px;
}
.icon img{
    width: 40%;
}
#mission{
    background-color: rgb(233, 215, 215);
    margin: 20px;
    border-radius: 40px;
    margin-left: 7%;
}
#vission{
    background-color: rgb(199, 214, 214);
    margin: 20px;
    border-radius: 40px;
}
#goal{
    background-color: rgb(222, 236, 228);
    margin: 20px;
    margin-right: 7%;
    border-radius: 40px;
}
.develop{
    margin-top: 80px;
    display: flex;
    justify-content: center;

    
}

#picture2 img{
    width: 80%;
    margin-left: 18%;
    height: 80%;
}
.focus-mission2{
    margin-right: 5%;
    width: 180%;
    padding-left: 40px;

}
.focus-mission2 h1{
    padding-top: 8%;
    font-family: 'Lobster', cursive;
    font-family: 'Merriweather', serif;
}
#picture3 img{
    width: 60%;
    margin-left: 18%;
    height: 90%;
    padding-right: 40px;
}
#community{
    margin-left: 40px;
}
footer{
    background-color: rgb(36, 18, 18);
    text-align: center;
    color: white;
    height: 150px;
    margin: 0;
    padding: 10px;
}